html(lang="en")
    head
        title SCOTT.dept CRUD
        meta(charset="UTF-8")
        link(rel="stylesheet" href="./public/css/dept.css")
    body
        h1 부서 리스트
        button
            a(href="/deptList.do") 부서 리스트 조회
        br
        br
        button
            a(href="/deptInsert.do") 새로운 부서 등록